##### **Ejercicio 1** Hallar todas las soluciones de la ecuación diofántica 93x+87y=45.

In [1]:
xgcd(93,87)

(3, -14, 15)

d=(93,87)=3, m=-14, n=15

X=-14·(45/3)=-14·15

Y=15·(45/3)=15·15

In [2]:
X=-14*15
Y=15*15
show(X)
show(Y)

-210

225

---

##### **Ejercicio 2** Hallar todos los números c con 100<c<200, c múltiplo de 5, tales que la ecuación 21x+48y=c tenga solución y hallar todas las soluciones para estos valores.

In [1]:
xgcd(21,48)

(3, 7, -3)

In [2]:
#Siempre el d=(21,48) debe dividir a c. Calculamos mcd(21,48) y sale 3.
#Calculamos los números entre 101 y 200 que sean múltiplos de 5 (porque 
#lo exige el enunciado) y de 3 (porque mcd(21,48)=3).

#Creamos una lista A que los contiene a todos ellos:
A=[i for i in range(101,200) if i%15==0]
A

[105, 120, 135, 150, 165, 180, 195]

In [4]:
#Esas son las posibles soluciones c del ejercicio. Las soluciones generales
#que tendrán serán:
        # x = 7*(c/3) - r*(48/3) = 7*(c/3) - 16r
        # y = -3*(c/3) - r*(21/3) = -c - 7r
var('r')
[(a,7*a/3 - 16*r, -a + 7*r) for a in A]

[(105, -16*r + 245, 7*r - 105),
 (120, -16*r + 280, 7*r - 120),
 (135, -16*r + 315, 7*r - 135),
 (150, -16*r + 350, 7*r - 150),
 (165, -16*r + 385, 7*r - 165),
 (180, -16*r + 420, 7*r - 180),
 (195, -16*r + 455, 7*r - 195)]

---

##### **Ejercicio 3** Hallar todos los valores positivos b con b<100 tales que la ecuación diofántica 210x+by=13 tenga solución y hallar todas las soluciones para esos valores.

In [5]:
#Como c=13, es primo y d=(210,b) debe dividir a 13, entonces d=1 o d=13.
#Pero d=13 no puede ser porque es el mcd(210,b) y 13 no divide a 210.
B=[b for b in range(1,100) if gcd(210,b)==1]
C=[(b,xgcd(210,b)) for b in B]
C

[(1, (1, 0, 1)),
 (11, (1, 1, -19)),
 (13, (1, -6, 97)),
 (17, (1, 3, -37)),
 (19, (1, 1, -11)),
 (23, (1, 8, -73)),
 (29, (1, -4, 29)),
 (31, (1, -9, 61)),
 (37, (1, 3, -17)),
 (41, (1, -8, 41)),
 (43, (1, 17, -83)),
 (47, (1, 15, -67)),
 (53, (1, 26, -103)),
 (59, (1, -25, 89)),
 (61, (1, -9, 31)),
 (67, (1, 15, -47)),
 (71, (1, -24, 71)),
 (73, (1, 8, -23)),
 (79, (1, 38, -101)),
 (83, (1, 17, -43)),
 (89, (1, -25, 59)),
 (97, (1, -6, 13))]

In [6]:
#Calculamos las soluciones generales (c=13, a=210, d=1):
    # x = m*13/1 - r*b/1 = m*13 - r*b
        # teniendo en cuenta que la m es una componente de C[i].
    # y = n*13/1 + r*210/1 = n*13 + 210*r
        # teniendo en cuenta que la n es una componente de C[1].
var('r')
[(C[i][0],13*C[i][1][1] - r*C[i][0], 13*C[i][1][2] + r*210) for i in [0..21]]

[(1, -r, 210*r + 13),
 (11, -11*r + 13, 210*r - 247),
 (13, -13*r - 78, 210*r + 1261),
 (17, -17*r + 39, 210*r - 481),
 (19, -19*r + 13, 210*r - 143),
 (23, -23*r + 104, 210*r - 949),
 (29, -29*r - 52, 210*r + 377),
 (31, -31*r - 117, 210*r + 793),
 (37, -37*r + 39, 210*r - 221),
 (41, -41*r - 104, 210*r + 533),
 (43, -43*r + 221, 210*r - 1079),
 (47, -47*r + 195, 210*r - 871),
 (53, -53*r + 338, 210*r - 1339),
 (59, -59*r - 325, 210*r + 1157),
 (61, -61*r - 117, 210*r + 403),
 (67, -67*r + 195, 210*r - 611),
 (71, -71*r - 312, 210*r + 923),
 (73, -73*r + 104, 210*r - 299),
 (79, -79*r + 494, 210*r - 1313),
 (83, -83*r + 221, 210*r - 559),
 (89, -89*r - 325, 210*r + 767),
 (97, -97*r - 78, 210*r + 169)]

---

##### **Ejercicio 4** Hallar las unidades de Z/44Z y de Z/84Z y los inversos multiplicativos de cada una de ellas.

In [23]:
#Unidades de Z/44Z:
A=[i for i in range(1,44) if gcd(i,44)==1]
print("A =", A)
#Inversos multiplicativos:
print("INVERSOS A =", [(i, lift(mod(i,44)^(-1))) for i in A])

A = [1, 3, 5, 7, 9, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 35, 37, 39, 41, 43]
INVERSOS A = [(1, 1), (3, 15), (5, 9), (7, 19), (9, 5), (13, 17), (15, 3), (17, 13), (19, 7), (21, 21), (23, 23), (25, 37), (27, 31), (29, 41), (31, 27), (35, 39), (37, 25), (39, 35), (41, 29), (43, 43)]

In [24]:
#Unidades de Z/84Z:
B=[j for j in range(1,84) if gcd(j,84)==1]
print("B =", B)
#Inversos multiplicativos:
print("INVERSOS B =", [(j, lift(mod(j,84)^(-1))) for j in B])

B = [1, 5, 11, 13, 17, 19, 23, 25, 29, 31, 37, 41, 43, 47, 53, 55, 59, 61, 65, 67, 71, 73, 79, 83]
INVERSOS B = [(1, 1), (5, 17), (11, 23), (13, 13), (17, 5), (19, 31), (23, 11), (25, 37), (29, 29), (31, 19), (37, 25), (41, 41), (43, 43), (47, 59), (53, 65), (55, 55), (59, 47), (61, 73), (65, 53), (67, 79), (71, 71), (73, 61), (79, 67), (83, 83)]

---

##### **Ejercicio 5** Hacer el ejercicio 4 utilizando el teorema de Bèzout en lugar de la función mod anterior.

In [27]:
[(i,xgcd(i,44)) for i in A]

[(1, (1, 1, 0)),
 (3, (1, 15, -1)),
 (5, (1, 9, -1)),
 (7, (1, 19, -3)),
 (9, (1, 5, -1)),
 (13, (1, 17, -5)),
 (15, (1, 3, -1)),
 (17, (1, 13, -5)),
 (19, (1, 7, -3)),
 (21, (1, 21, -10)),
 (23, (1, -21, 11)),
 (25, (1, -7, 4)),
 (27, (1, -13, 8)),
 (29, (1, -3, 2)),
 (31, (1, -17, 12)),
 (35, (1, -5, 4)),
 (37, (1, -19, 16)),
 (39, (1, -9, 8)),
 (41, (1, -15, 14)),
 (43, (1, -1, 1))]

In [28]:
[(j,xgcd(j,84)) for j in B]

[(1, (1, 1, 0)),
 (5, (1, 17, -1)),
 (11, (1, 23, -3)),
 (13, (1, 13, -2)),
 (17, (1, 5, -1)),
 (19, (1, 31, -7)),
 (23, (1, 11, -3)),
 (25, (1, 37, -11)),
 (29, (1, 29, -10)),
 (31, (1, 19, -7)),
 (37, (1, 25, -11)),
 (41, (1, 41, -20)),
 (43, (1, -41, 21)),
 (47, (1, -25, 14)),
 (53, (1, -19, 12)),
 (55, (1, -29, 19)),
 (59, (1, -37, 26)),
 (61, (1, -11, 8)),
 (65, (1, -31, 24)),
 (67, (1, -5, 4)),
 (71, (1, -13, 11)),
 (73, (1, -23, 20)),
 (79, (1, -17, 16)),
 (83, (1, -1, 1))]

---

##### **Ejercicio 6** Hallar el menor número natural congruente a 3 módulo 8, a 7 módulo 15 y a 9 módulo 83.

In [29]:
CRT_list([3,7,9],[8,15,83])

7147

---

##### **Ejercicio 7** ¿Puede existir un número que sea congruente a 3 módulo 14, a 5 módulo 33, a 7 módulo 65 y a 31 módulo 187?

In [ ]:
CRT_list([3,5,7,31],[14,33,65,187])

In [31]:
#Al ejecutar la línea anterior, vemos que da error porque no existe
#ningún número que cumpla los requisitos del ejercicio.
factor(187)

11 * 17

In [32]:
#El número sería congruente a 5 módulo 33, luego a 5 módulo 11.
#Sería congruente a 31 módulo 1878, es decir, a 9 módulo 11.
#Eso es imposible, por lo que tenemos una contradicción. La 
#factorización de 187 es 187 congruente con 11*17.

---

##### **Ejercicio 8** Hallar el menor número natural n tal que 8n sea congruente a 7 módulo 1913,25n sea congruente a 11 módulo 1916 y 30n sea congruente a 13 módulo 1927.

In [34]:
lift(mod(8,1913)^(-1))*7

11718

In [36]:
lift(mod(25,1916)^(-1))*11

11803

In [35]:
lift(mod(30,1927)^(-1))*13

14196

---

##### **Ejercicio 9** Encontrar el menor número natural que sea congruente a 1 módulo 8, a 2 módulo 21,a 3 módulo 25 y a 9 módulo 308. (Observar que 308 no es primo ni con 8 ni con 21, por lo que no podemos aplicar CRT_list).

In [38]:
CRT_list([1,2,3],[8,21,25])

2753

In [39]:
#La solución general de las tres primeras congruencias es 2753. 
#Impongamos que un número de esta forma sea la solución de la cuarta 
#congruencia.
8*21*25

4200

In [40]:
[k for k in range(1,20) if (2753+4200*k)%308==9]

[8, 19]

In [41]:
#Sustituyo la k obtenida en la ecuación 2753+4200*k:
2753 + 4200*8

36353

In [42]:
#Comprobamos el resultado obtenido:
[36353%i for i in [8,21,25,308]]

[1, 2, 3, 9]